APP_NAME="Full Bright Indonesia"
APP_ENV=production
APP_KEY=
APP_DEBUG=false
APP_URL=http://localhost:8080
APP_PORT=8080
APP_LOCALE=id
APP_FALLBACK_LOCALE=en

LOG_CHANNEL=stderr
LOG_LEVEL=info

DB_CONNECTION=mysql
DB_HOST=db
DB_PORT=3306
DB_DATABASE=pbm_landing_page
DB_USERNAME=pbm
DB_PASSWORD=
DB_ROOT_PASSWORD=

SESSION_DRIVER=database
CACHE_STORE=database
QUEUE_CONNECTION=sync

CLIENT_ID=fullbright
PROJECT_MODE=ctwa
ANALYTICS_ENABLED=true
WHATSAPP_NUMBER=6285255499299
WHATSAPP_DEFAULT_MESSAGE="Halo Admin Full Bright Indonesia. Saya minat mau daftar kelas TOEFL."
PAYMENT_MODE=none
